<form data-ng-submit="save();" name="myForm">
	<h4>Create Job</h4>
	<md-input-container class="md-block">
		<label>Description</label>
		<input md-maxlength="30" required md-no-asterisk name="description" ng-model="project.description">
		<div ng-messages="myForm.description.$error">
			<div ng-message="required">This is required.</div>
			<div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
		</div>
	</md-input-container>
	<md-input-container class="md-block">
		<label>Client Name</label>
		<input required name="clientName" ng-model="project.clientName">
		<div ng-messages="myForm.clientName.$error">
			<div ng-message="required">This is required.</div>
		</div>
	</md-input-container>
	<label>Category</label>
	<select
		data-ng-model="category_id"
		data-ng-options="category.id as category.name for category in categories.data"
		class="form-control"
		required
	>
		<option value="">--Select--</option>
	</select>
	<md-input-container class="md-block">
		<label>Job Title</label>
		<input
			required
			data-ng-model="name"
		/>
	</md-input-container>
	<div
		cambodia-date-picker
		date-format="y/MM/dd"
	>
		<input
			type="text"
			class="form-control"
			required
			placeholder="post date"
			data-ng-model="post_date"
		/>
	</div>
	<div
		cambodia-date-picker
		date-format="y/MM/dd"
	>
		<input
			type="text"
			class="form-control"
			required
			data-ng-model="closing_date"
			placeholder="closing date"
		/>
	</div>
	<md-input-container class="md-block">
		<label>Description</label>
		<textarea
			required name="description"
			data-ng-model="description"
		></textarea>
	</md-input-container>

	<a href="#/job">
		<md-button class="md-raised">Cancel</md-button>
	</a>
	<md-button class="md-raised md-primary">Save</md-button>
</form>


